body {
    margin: 0px;
    padding: 0px;
    background-color: darkslategray;
}

td {
    font-family: jetbrains;
}

#a {
    margin: 60px auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}

#a h1 {
    margin: 0px;
    text-align: center;
    font-family: jetbrains;
    color: #ffa500;
}

#a h2 {
    text-align: center;
    margin: 0px;
    font-family: jetbrains;
    color: #ffa500;
}

#a img {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    height: auto;
    margin-bottom: 50px;
    border-radius: 15px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 60px;
    border-style: solid;
    border-color: #106ae0;
    border-width: 3px;
    border-radius: 5px;
}

.box {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border-style: solid;
    border-color: #ffa500;
    border-width: 3px;
    border-radius: 5px;
}

#a textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    margin: 15px 0;
    border-style: solid;
    border-color: #ffa500;
    border-width: 3px;
    border-radius: 5px;
    resize: none;
}

#a button {
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
    border-style: solid;
    border-color: rgb(241, 238, 238);
    border-width: 2px;
    border-radius: 5px;
}